In [1]:
import pandas as pd

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [130]:
df_rat = pd.read_csv('ml-latest-small/ratings.csv')
df_mov = pd.read_csv('ml-latest-small/movies.csv')
df = pd.merge(df_mov, df_rat, on='movieId')

In [93]:
df.tail()

,movieId,title,genres,userId,rating,timestamp,class
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,middle rating
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,middle rating
100833,193585,Flint (2017),Drama,184,3.5,1537109805,middle rating
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,middle rating
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,middle rating

In [32]:
def classify_ratings(row):
    if row.rating <= 2:
        return 'low rating'
    elif row.rating >= 4.5:
        return 'high rating'
    return 'middle rating'

df['class'] = df.apply(classify_ratings, axis=1)
df.head(5)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,middle rating
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,middle rating
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,high rating
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,middle rating
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,high rating

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [85]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [92]:
keywords_df = pd.read_csv('keywords.csv')
keywords_df.head(3)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114

In [87]:
# наверно можно проще:
def add_reg(row):
    for city in geo_data['Центр']:
        if city in row.keyword: 
            return 'Центр'
    for city in geo_data['Северо-Запад']:
        if city in row.keyword: 
            return 'Северо-Запад'
    for city in geo_data['Дальний Восток']:
        if city in row.keyword: 
            return 'Дальний Восток'

In [88]:
%%time
keywords_df['class'] = keywords_df.apply(add_reg, axis=1)

Wall time: 18.6 s

In [89]:
keywords_df.groupby('class').count()

                keyword  shows
class
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
movieId      100836 non-null int64
title        100836 non-null object
genres       100836 non-null object
userId       100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

In [116]:
# проверил, что есть фильмы 2018 года, поэтому увеличил список
years = [y for y in range(1950, 2019, 1)]

In [117]:
def production_year(row):
    for y in years:
        if str(y) in row.title:
            return y
    else: return 1900

In [118]:
%%time
df['year'] = df.apply(production_year, axis=1)

Wall time: 44 s

In [104]:
# # пытался сделать с помощью регулярки, это гораздо быстрее
# # но не понимаю как привести результат столбца в 'int'

# import re

# def production_year(row):
#     find_year = re.findall(r'\(\d{4}\)', row.title)
#     if len(find_year) == 0:
#         return [(1900)]

#     else:
# #     снимаем пункиуацию
#         find_year_prod = re.sub(r'[^\d]','', find_year[0])
#     return find_year   
    
# df['year'] = df.apply(production_year, axis=1)
# print(df.head())
# print(df.iloc[81293:81295])
# print(df.tail())

   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating   timestamp      year
0       1     4.0   964982703  [(1995)]
1       5     4.0   847434962  [(1995)]
2       7     4.5  1106635946  [(1995)]
3      15     2.5  1510577970  [(1995)]
4      17     4.5  1305696483  [(1995)]
       movieId              title                 genres  userId  rating  \
81293    40697          Babylon 5                 Sci-Fi     528     0.5
81294    40723  Wolf Creek (2005)  Crime|Horror|Thriller     274     4.0

        timestamp      year
81293  1391736467    [1900]
81294  1197187849  [(2005)]
        movieId                                      title  \
100831   193581  Black Butler: Book of the Atlantic (2017)
100832   193583               No Game No Life: Zero (2017)
100833   193585                               Flint (2017)
100834   193587        Bungo Stray Dogs: Dead Apple (2018)
100835   193609        Andrew Dice Clay: Dice Rules (1991)

                                 genres  userId  rating   timestamp      year
100831  Action|Animation|Comedy|Fantasy     184     4.0  1537109082  [(2017)]
100832         Animation|Comedy|Fantasy     184     3.5  1537109545  [(2017)]
100833                            Drama     184     3.5  1537109805  [(2017)]
100834                 Action|Animation     184     3.5  1537110021  [(2018)]
100835                           Comedy     331     4.0  1537157606  [(1991)]

In [129]:
cinema_golden_age = df.groupby('year').agg({'rating': 'mean'}).sort_values('rating', ascending=False)
cinema_golden_age.head(10)

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293
1964  3.940160
1974  3.935622
1967  3.922572
1975  3.879121
1958  3.842424