## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("ml-latest-small/ratings.csv")
print(df.head())
df.info()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
# оставляю фильмы с рейтингом 5
s = df[ (df['rating'] == 5.0) ]
# считаю вхожденя
s['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [8]:
# проверка
check = df[ (df['movieId']== 318) & (df['rating']== 5.0) ]
len(check)

153

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
power_df = pd.read_csv("power.csv")
print(power_df.head())
power_df.info()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
country     1189482 non-null object
year        1189482 non-null int64
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [12]:
find_baltic_countries = power_df[ power_df['country'].str.contains('esto|latv|lit', case=False) ]['country'].unique()
find_baltic_countries

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [15]:
baltic_countries_power_df = power_df[ (power_df['country'].isin(['Lithuania', 'Latvia', 'Estonia']))] 
# второй длинный способ
# baltic_countries_power_df = power_df[ (power_df['country'] == 'Lithuania') | (power_df['country'] == 'Latvia') | (power_df['country'] == 'Estonia')] 
baltic_countries_power_df = baltic_countries_power_df[ (baltic_countries_power_df['category'] == 4) | (baltic_countries_power_df['category'] == 12) | (baltic_countries_power_df['category'] == 21) ]
baltic_countries_power_df = baltic_countries_power_df[ baltic_countries_power_df.quantity >= 0 ]
baltic_countries_power_df = baltic_countries_power_df[2004 < baltic_countries_power_df.year]
baltic_countries_power_df = baltic_countries_power_df[baltic_countries_power_df.year < 2011]
baltic_countries_power_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 408 entries, 10617 to 253986
Data columns (total 4 columns):
country     408 non-null object
year        408 non-null int64
quantity    408 non-null float64
category    408 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 15.9+ KB

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [68]:
sports_ru_tb = pd.read_html('https://www.sports.ru/bundesliga/table/')[1]

In [69]:
sports_ru_tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
Unnamed: 0    18 non-null int64
Команда       18 non-null object
М             18 non-null int64
В             18 non-null int64
Н             18 non-null int64
П             18 non-null int64
Заб           18 non-null int64
Проп          18 non-null int64
О             18 non-null int64
dtypes: int64(8), object(1)
memory usage: 1.3+ KB

In [70]:
sports_ru_tb

    Unnamed: 0       Команда   М  В  Н  П  Заб  Проп   О
0            1    Боруссия М  10  7  1  2   21    10  22
1            2    РБ Лейпциг  11  6  3  2   29    12  21
2            3    Хоффенхайм  11  6  2  3   16    14  20
3            4    Боруссия Д  10  5  4  1   23    11  19
4            5        Шальке  11  5  4  2   20    14  19
5            6       Бавария  10  5  3  2   25    16  18
6            7      Фрайбург  10  5  3  2   19    12  18
7            8    Айнтрахт Ф  10  5  2  3   21    15  17
8            9    Вольфсбург  10  4  5  1   11     8  17
9           10         Байер  10  4  3  3   15    15  15
10          11  Унион Берлин  11  4  1  6   13    17  13
11          12        Вердер  10  2  5  3   17    21  11
12          13         Герта  11  3  2  6   17    21  11
13          14       Фортуна  11  3  2  6   15    19  11
14          15      Аугсбург  11  2  4  5   13    24  10
15          16         Майнц  11  3  0  8   12    30   9
16          17         Кельн  11  2  1  8   10    23   7
17          18     Падерборн  11  1  1  9   11    26   4